.logo {
  text-align: right;
  background-image: url(https://s.yimg.com/rz/p/yahoo_frontpage_en-US_s_f_p_bestfit_frontpage_2x.png);
  background-position: left;
  background-repeat: no-repeat;
  color: blue;
  background-color: #fff;
  line-height: 84px;
  padding : 0 50px 0 50px;
  background-size: 9%;
  margin: 0 0 0 50px ;
}

.App {
  background-image: url(https://s.yimg.com/cv/ae/default/160912/Field_Evergreen_PlayNow_1440x1024.jpg);
  display: flex;
  padding: 55px;
}

.card{
    box-sizing: border-box;
    background-color: #fff;
    color: #26282a;
    text-align: center;
    font-family: 'Yahoo Sans','Helvetica Neue',Helvetica,Arial;
    width: 360px;
    right: 0;
    min-height: 550px;
    z-index: 1;
    padding: 28px 5px;
    padding-bottom: 10px;
    border: 1px solid transparent;
    border-top: 1px solid #f1f1f5;
    
}
.Box{
  box-sizing: border-box;
  background-color: #fff;
  color: #26282a;
  right: 0;
  width: 360px;
  min-height: 550px;
  z-index: 1;
  padding-bottom: 10px;
  border: 1px solid transparent;
  border-top: 1px solid #f1f1f5;
  margin: 0 0 0 400px;
}
Button{
  color: #fff;
  background: #188fff;
  border: 1px solid #188fff;
  border-radius: 1.17647rem;
  width: 90%;
  line-height: 1rem;
  height: 40px;
}